.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
}

.title {
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(114, 13, 13);
  text-transform: uppercase;
}

.todo-list {
  margin-top: 20px;
  display: grid;
  column-gap: 1%;
  row-gap: 50px;
  grid-template-columns: 19% 19% 19% 19% 19%;
}


@media screen and (max-width: 900px) {
  .todo-list {
    grid-template-columns: 32% 32% 32% ;
  }
}
@media screen and (max-width: 600px) {
  .todo-list {
    grid-template-columns: 100%;
    column-gap: 0;
  }
}

.line {
  border: 1px solid red;
  grid-column: 1 / -1;
}

.btn {
  padding: 20px 40px;
  margin-bottom: 20px;
  background-color: rgb(168, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: all;
  transition-duration: 150ms;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(114, 13, 13);
  color: antiquewhite;
  transform: scale(1.1);
}
.btn:focus {
  background-color: rgb(87, 5, 5);
  color: bisque;
  transform: scale(0.9);
}
